/* Global Styles */

body {
    background-image: url("../images/2811050-star-wars-space-spaceship-x-wing-laser-lasers-science-fiction-artwork___movie-wallpapers.jpg");
    font-family: 'Timmana', sans-serif;
    color: red;
}